*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.295em;
}

a{
    border-color: black;
    padding: 12px;
    text-decoration: none;
    color: black;
}

img{
    padding: 5px;
}

.area-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: solid 1px black;
    width: 580px;
    height: 20px;
    top: 305px;
    left: 350px;
    padding: 24px 22px 24px 22px;
    gap: 54px;
}